digraph G {
 rankdir=LR;
 node [shape=box, style=rounded];

 subgraph clusterA {
  labeljust=l;
  label="marketing@company.com";

  AS [label="", shape=circle, width="0.3"];
  AE [label="", shape=circle, width="0.3", style=bold];
  A1 [label="A1:Create Document"];
  A2 [label="A2:Revision and Check"];

  AS -> A1;
  A1 -> A2 [style=invis]; // Define an invisible edge to make AS, A1, A2, and AE are horizontally-placed
  A2 -> AE;
 }

 subgraph clusterB {
  labeljust=l;
  label="marketing-leader@company.com";

  B1 [label="B1:Check Document"];
  B2 [label="B2:Comment"];

  B1 -> B2;
 }

A1 -> B1; // Sequence flow crossing swimlanes is drawn outside of cluster definition
B2 -> A2;

}
